/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,omme
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height: 1;
	background:whitesmoke;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face {font-family:"Pacifico Regular";src:url("fonts/Pacifico.eot?") format("eot"),url("fonts/Pacifico.woff") format("woff"),url("fonts/Pacifico.ttf") format("truetype"),url("fonts/Pacifico.svg#Pacifico-Regular") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Droid Sans Bold";src:url("fonts/DroidSans-Bold.eot?") format("eot"),url("fonts/DroidSans-Bold.woff") format("woff"),url("fonts/DroidSans-Bold.ttf") format("truetype"),url("fonts/DroidSans-Bold.svg#DroidSans-Bold") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"BebasNeue";src:url("fonts/BebasNeue.eot?") format("eot"),url("fonts/BebasNeue.woff") format("woff"),url("fonts/BebasNeue.ttf") format("truetype"),url("fonts/BebasNeue.svg#BebasNeue") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Droid Sans";src:url("fonts/DroidSans.eot?") format("eot"),url("fonts/DroidSans.woff") format("woff"),url("fonts/DroidSans.ttf") format("truetype"),url("fonts/DroidSans.svg#DroidSans") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Pacifico";src:url("fonts/Pacifico.eot?") format("eot"),url("fonts/Pacifico.woff") format("woff"),url("fonts/Pacifico.ttf") format("truetype"),url("fonts/Pacifico.svg#Pacifico") format("svg");font-weight:normal;font-style:normal;}

h1, h2, h3, h4, h5, h6 {
	margin: 29px 0;
}

h2 {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: 36414c;
}
	
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		BODY BACKGROUNDS
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#header-background {
		height: 100px;
		background: url(images/header-background.png) repeat-x;
}

#slider-background {
	height: 487px;
	overflow: hidden;
	background: url(images/slider-background.png) repeat-x;
}

#logo-background {
	height: 151px;
	background: url(images/logo-background.png) repeat-x;
}

#widget-background {
	min-height: 271px;
	background: url(images/widget-background.png) repeat;
}

#footer-background {
	height: 80px;
	background: url(images/footer-background.png) repeat-x;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		HEADER: LOGO, NAVIGATION
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#header {
	height: 100px;
	width: 960px;
	margin: 0 auto;
}

#header #logo {
	width: 200px;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	float: left;
}

#header #logo  a {
	height: 100px;
	text-indent: 41px;
	display: block;
	line-height: 100px;
	vertical-align: middle;
	background: url(images/logo.png) no-repeat left center;
	font-family: Pacifico, ariel, sans-serif;
	font-style: italic;
	color: #eae7e2;
	text-decoration: none;
	font-size: 36px;
}

#header #logo a:visited {
	color: #9797a3;
}

#nav {
    float: right;
}

#nav ul#navigation {
    height: 70px;
	margin-top: 30px;
	list-style-type: none;
}

#nav ul#navigation li {
    display: inline;
	float: left;
	line-height: 40px;
	vertical-align: top;
	font-family: "Droid Sans Bold", Helvetica, sans-serif;
    font-size: 13px;
	position: relative;
	padding-bottom: 30px;
}

#nav ul#navigation  li a:link,  #nav ul#navigation  li a:visited {
    color: #c6c6c6;
    text-decoration: none;
    padding: 12px;
	outline: none;
}

#nav ul#navigation li a:hover, #nav ul#navigation  li a.active{
    padding: 12px;
    background: #272f38;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; /* future proofing */
    -khtml-border-radius: 7px; /* for old Konqueror browsers */
    -moz-box-shadow: inset 0 0 9px 9px #1f262d;
    -webkit-box-shadow: inset 0 0 9px 9px#1f262d;
    box-shadow: inset 0 0 9px 9px #1f262d;
}

#header ul#navigation ul {
    display: none;
    background: url(images/darkdenim2.png) repeat;
    width: 136px;
    position: absolute;
    z-index: 9999;
	top: 70px;
	border: 1px solid #50565c;
	border-top: 0;
	box-shadow: inset 0 0 15px 1px #1f262d;

}

#header ul#navigation ul li a:link {
	background: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	khtml-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
}

#header ul#navigation ul li {
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #50565c;
}

#header ul#navigation ul li:hover {
	width: 100%;
	   background: #272f38;
    -khtml-border-radius: 7px; /* for old Konqueror browsers */
    -moz-box-shadow: inset 0 0 9px 9px #1f262d;
    -webkit-box-shadow: inset 0 0 9px 9px#1f262d;
    box-shadow: inset 0 0 9px 9px #1f262d;
}

#header ul#navigation li:hover ul {
    display: block;
    min-width: 136px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		SLIDER
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#slider h1, #slider h2, #slider h3, #slider h4, #slider h5, #slider h6 {
	color: #fff;
	font-family: "BebasNeue", Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
}

#slider p {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#fff;
}

#slider {
	width: 948px;
	height: 367px;	
	overflow: hidden;
}

#slider-padding {
	width: 948px;
	height: 367px;
	padding: 5px; 
	background: #2d3640;
	border: 1px solid #2d3640;
	margin: 48px auto;
	overflow: hidden;
}

.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left;  display: none; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 948px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev { background: url(images/left-arrow.png) no-repeat; height: 45px; width: 45px; text-indent: -9999px; margin-left: 21px; }
.cs-next { background: url(images/right-arrow.png) no-repeat; height: 45px; width: 45px; text-indent: -9999px; margin-right: 21px; }

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		CONTENT AREA
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#content {
	width: 960px;
	min-height: 200px;
	margin: 0 auto;
}

#content #left-column {
	width: 290px;
	float: left;
	margin-right: 45px;
}

#content img {
	padding: 7px;
	background: #fff;
	border: 1px solid #d0d1d3;
}

#content .wrap img {
	padding: 0;
	background: none;
	border: none;
}

#content .padding {
	padding: 7px;
	background: #fff;
	border: 1px solid #d0d1d3;
	width: 274px;
	height: 154px;
}

#content .button {
	background: none;
	padding: 0;
	border: none;
}

#content p {
	margin: 29px 0;
	color: #56606b;
	line-height: 20px;
	font-family: "Droid Sans", Arial, sans-serif;
	font-size: 12px;
}

#content .left-column {
	width: 290px;
	float: left;
	margin-right: 45px;
}

#content .center-column {
	width: 290px;
	float: left;
	margin-right: 45px;
}

#content .right-column {
	width: 290px;
	float: left;
}

#content .one-third {
	float: right;
	width: 290px;
}

#content  span.read-more a {
	font-size: 12px;
	color: #36414c;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

#content .two-thirds {
	width: 625px;
	float: left;
}

#content #latest-news ul {
	clear: both;
}

#content #latest-news img.thumb {
	padding: 3px;
	background: #fff;
	border: 1px solid #d0d1d3;
	line-height: 12px;
	margin-right: 7px;
	margin-bottom: 12px;
	float: left;
}

#content #latest-news li {
	clear: left;
}

#content #latest-news span.title  {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #56606b;
}

#content #latest-news span.date {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	color: #81858e;
}

#content #gallery ul {
	margin-right: -22px;
}

#content #gallery ul li {
	display: inline;
	margin-right: 22px;
}
	
hr {
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #fff;
	border-left: none;
	border-right: none;
	clear: both;
	margin: 29px 0;
}

h1.tag-background{
	margin: 29px 0;
	font-family: BebasNeue, Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #36414c;
	padding-left: 15px;
	background: url(images/h1-background3.png) repeat-x center center;
}

span.background {
	display: inline-block;
	color: #36414c;
	height: 29px;
	background: #ededed;
	padding: 0 5px;
}

 #arrows {
	width: 960px;
	margin: 0 auto;
	height: 34px;
	padding-top: 100px;
	
}

#arrows a.up-arrow {
	width: 22px;
	height: 16px;
	background: url(images/up-arrow.png) no-repeat top center;
	display: block;
	margin: 0 auto;
}

#arrows a.down-arrow {
	width: 22px;
	height: 16px;
	background: url(images/down-arrow.png) no-repeat top center;
	display: block;
	margin: 0 auto;
}

#logos-wrapper {
	width: 960px;
	margin: 0 auto;
	height: 126px;
} 

#logos-wrapper ul#logos {
	height: 126px;
	padding-top: 26px;
	list-style: none;
	margin-right: -77px;
}

#logos-wrapper ul#logos li {
	display: inline;
	margin-right: 77px;
}

#logos-wrapper ul#logos li a {
	display: inline-block;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		PAGE STYLES: ABOUT PAGE, BLANK PAGES...ECT
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#page-title-background {
	height: 107px;
	background: url(images/page-title-background.jpg) repeat-x;
}

#page-title-background #page-title {
	height: 107px;
	line-height: 107px;
	vertical-align: middle;
	width: 960px;
	margin: 0 auto;
}

#page-title-background #page-title p {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
}

#content h1 {
	font-family: "BebasNeue", Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #3d4852;
}

#content .columns {
	width: 210px;
	min-height: 302px;
	float: left;
	margin-left: 25px;
}

#content .columns img {
	background: none;
	border: none;
	margin-left: 76px;
}

#content .columns h1 {
	text-align:center;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		EVENTS PAGE
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.post {
	width: 625px;
	margin-bottom: 29px;
}
.post .date {
	width: 95px;
	float: left;
}

.post .date span.month {
	background: #3db4c3;
	border: 1px solid #1f8692;
	width: 94px;
	height: 29px;
	display: block;
	line-height: 29px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: "BebasNeue", Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.post .date span.day {
	background: #fff;
	border: 1px solid #a3a9b2;
	border-top: none;
	width: 94px;
	height: 63px;
	display: block;
	line-height: 63px;
	vertical-align: middle;
	text-align: center;
	color: #36414c;
	font-family: "BebasNeue", Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.post .post-content {
	float: right;
	width: 516px;
}

.post .post-content h1 {
	margin-top: 0;
	padding: 0;
	line-height: 23px; 
}

.post .post-content a:link, .post .post-content a:visited {
	text-decoration: none;
	font-family: "BebasNeue", Arial, Helvetica, sans-serif;
	color: #3d4852;
}

.post .post-content hr {
	width: 625px;
}

ul.events {
	float: left;
	width: 625px;
}

ul.simplePagerNav {
	height: 31px;
	margin-top: 48px; 
	width: 100%;
}

ul.simplePagerNav li {
	float: left;
	width: 625px;
	display: block;
	height: 31px;
	width: 31px;
	line-height: 31px;
	vertical-align: middle;
	text-align: center;
	margin-right: 5px;
	background: #3d4852;
	border-radius: 5px;
}

ul.simplePagerNav li.currentPage {
	background: #48c3d2;
}

ul.simplePagerNav li a {
	text-decoration: none;
	height: 31px;
	width: 31px;
	display: block;
	color: #ffffff;
}

ul.simplePagerNav li a:hover {
	background:#48c3d2;
	border-radius: 5px;
	height: 31px;
	width: 31px;
	display: block;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		BLOG PAGE
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.blog-post {
	width: 625px;
	background: url(images/post-border.png) repeat-x bottom;
	padding-bottom: 29px;
	margin-bottom: 29px;
}

.blog-post hr {
	margin: 29px; 0;
}

.blog-post .blog-thumb {
	float: left;
}

.blog-post .blog-content {
	float: right;
	width: 458px;
}

.blog-post .blog-content h1 {
	margin-top: 0;
	padding: 0;
	line-height: 23px;
}

.simplePagerContainer {
	float: left;
}

ul.simplePagerNav {
	height: 31px;
	margin: 48px 0;
	width: 625px;
}

ul.simplePagerNav li {
	float: left;
	width: 625px;
	display: block;
	height: 31px;
	width: 31px;
	line-height: 31px;
	vertical-align: middle;
	text-align: center;
	margin-right: 5px;
	background: #3d4852;
	border-radius: 5px;
}

ul.simplePagerNav li.currentPage {
	background: #48c3d2;
}

ul.simplePagerNav li a {
	text-decoration: none;
	height: 31px;
	width: 31px;
	display: block;
	color: #ffffff;
}

ul.simplePagerNav li a:hover {
	background:#48c3d2;
	border-radius: 5px;
	height: 31px;
	width: 31px;
	display: block;
}

#content .user-comment {
	width: 625px;
	margin-bottom: 23px;
	background: url(images/post-border.png) repeat-x center bottom;
}

#content .user-comment .comment-meta {
	width: 537px;
	float: right;
}

#content .user-comment .comment-meta ul li.comment-date {
	font-style: italic;
}

#content .user-comment .comment-meta ul li span.comment-reply {
	font-style: normal;
}

#content .user-comment .avatar {
	float: left;
}

#content .user-comment .comment-meta ul li {
	height: 12px;
	line-height: 11px;
	margin-right: 4px;
	color: #a5aeb8;
	font-weight: bold;
	font-size: 11px;
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

#content .comment-meta ul li a:link {
	text-decoration: none;	
	color: #4e5861;
}

#content .comment-meta ul li a:hover {
	color: #f96a52;
}

#content .user-comment p {
	float: right;
	width: 537px;
	margin: 25px 0;
}

#content .reply-comment {
	margin-left: 64px;
}

#content .reply-comment p{
	margin-left: 30px;
	width: 473px;
	float: left;
	margin-left: 20px;
}

#content #respond {
	width: 625px;
}

#content #commentform p {
	margin: 20px 0;
	padding: 0;	
}

#content #commentform input[type=text] {
	border: none;
	width: 333px;
	height: 38px;
	border: 1px solid #c1c1c1;
	-moz-box-shadow:    inset 0 0 10px #c1c1c1;
   -webkit-box-shadow: inset 0 0 10px #c1c1c1;
   box-shadow:         inset 0 0 10px #c1c1c1;
   color: #c1c1c1;
   text-indent: 14px;
}

 #content #commentform textarea  {
	border: none;
	width: 467px;
	height: 190px;
	border: 1px solid #c1c1c1;
	-moz-box-shadow:    inset 0 0 10px #c1c1c1;
   -webkit-box-shadow: inset 0 0 10px #c1c1c1;
   box-shadow:         inset 0 0 10px #c1c1c1;
   color: #c1c1c1;
   text-indent: 14px; 
   padding-top: 10px;
 }
 
 #content #commentform button.primary {
	border: none;
	display: block;
	width: 67px;
	height: 32px;
	background: url(images/send.png) no-repeat;
	margin-top: 19px;
	cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		GALLERY PAGE
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#sortable-gallery {
	width: 960px;
}

#content #sortable-gallery ul#filter {
	overflow:hidden;
}

#content #sortable-gallery ul#filter li a{
	float: left;
	margin-right: 27px;
	margin-bottom: 31px;
	color: #56606b;
	font-size: 13px;
	line-height: 24px;
}

#content #sortable-gallery ul#filter li a:link, a:visited {
	text-decoration: none;
	color: #56606b;
	padding: 0 10px;
}

#content #sortable-gallery ul#filter li.current a {
	display: block;
	height: 24px;
	padding:0 10px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	background: #36414c;
	border-radius: 5px;
	color: #fff;
}

#content #sortable-gallery ul#filter li a:hover {
	display: block;
	height: 24px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	background: #36414c;
	border-radius: 5px;
	color: #fff;
}

#content #sortable-gallery ul.sortable-gallery {
	margin-left: -23px;
	margin-bottom: 100px;
}

#content #sortable-gallery ul.sortable-gallery li {
	float: left;
	display: block;
	margin: 0 0px 15px 22px;
	position: relative;
}

span.zoom {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background:url(images/zoom.png) center center no-repeat #000;
	cursor: pointer;
	height: 184px;
	width: 288px;
	position: absolute;
	top: 8px;
	left: 8px;
	opacity: 0;
}

span.zoom:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}

span.zoom2col {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background:url(images/zoom.png) center center no-repeat #000;
	cursor: pointer;
	height: 284px;
	width: 453px;
	position: absolute;
	top: 8px;
	left: 8px;
	opacity: 0;
}

span.zoom2col:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}




/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		CONTACT PAGE
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#contact-page {
	width: 625px;
	float: left;
}

#contact-page input {
	width: 333px;
	height: 38px;
	border: 1px solid #c1c1c1;
	margin:10px 0;
	-moz-box-shadow:    inset 0 0 10px #c1c1c1;
   -webkit-box-shadow: inset 0 0 10px #c1c1c1;
   box-shadow:         inset 0 0 10px #c1c1c1;
   color: #c1c1c1;
   text-indent: 14px;
}

#contact-page textarea {
	width: 523px;
	height: 184px;
	border: 1px solid #c1c1c1;
	-moz-box-shadow:    inset 0 0 10px #c1c1c1;
   -webkit-box-shadow: inset 0 0 10px #c1c1c1;
   box-shadow:         inset 0 0 10px #c1c1c1;
   color: #c1c1c1;
   text-indent: 14px;
   	padding-top: 14px;
	margin-top: 10px;

}

#contact-page button.primary {
	border: none;
	display: block;
	width: 67px;
	height: 32px;
	background: url(images/send.png) no-repeat;
	margin-top: 19px;
	cursor: pointer;
}

/* CONTACT FORM */

/* === Form Header === */

.required_notification {
	color:#d45252;
	padding-bottom: 5px; 
}

/* === Form Elements === */
.contact_form label {
	width:180px;
	margin-top: 3px;
	display:inline-block;
	float:right;
	padding:3px;
}

.contact_form input:required, .contact_form textarea:required {
	background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url(images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff url(images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;}
.contact_form input:required:valid + .form_hint::before {color:#28921f;}

#success-message {
	height: 32px;
	width: 625px;
	line-height: 32px;
	vertical-align: middle;
	background: url(images/sent.png) no-repeat center left;
	text-indent: 42px;
	display: none;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		SIDEBAR
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#sidebar {
	width: 290px;
	float: right;
	font-size: 13px;
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

#content .no-margin, #sidebar .no-content {
	margin-top: 0;
}

#sidebar form input {
	width: 287px;
	border: 1px solid #c1c1c1;
	height: 38px;
   -moz-box-shadow:    inset 0 0 10px #c1c1c1;
   -webkit-box-shadow: inset 0 0 10px #c1c1c1;
   box-shadow:         inset 0 0 10px #c1c1c1;
   color: #c1c1c1;
}

#sidebar ul#categories li {
	background: url(images/post-border.png) repeat-x bottom;
	line-height: 32px;
	vertical-align: middle;
	display:block;
}

#sidebar ul.gallery {
	width: 310px;
	margin-left: -20px;
	overflow: visible;
}

#sidebar ul.gallery li {
	float: left;
	margin-bottom: 23px;
	margin-left: 21px;
	width: 82px;
	height: 82px;
	display: block;
}

#sidebar ul.gallery li img {
	padding: 3px;
	border: 1px solid #d0d1d3;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		COLUMNS 
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#content .half {
	width: 470px;
	margin-left: 20px;
	float: left;
}

#content .first-half {
	margin-left: 0;
}

#content .thirds {
	width: 304px;
	float: left;
	margin-left: 23px;
}

#content .thirds-first {
	margin-left: 0;
}

#content .fourths {
	width: 225px;
	float: left;
	margin-left: 20px;
	
}

#content .fourths-first {
	margin-left: 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		FOOTER WIDGETS
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#footer-widgets {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 29px;
}

#footer-widgets .widget {
	width: 290px;
	margin-top: 29px;
	float:left;
	padding: 0 15px 21px 15px;
	min-height: 197px;
	background: url(images/border-img.png) repeat-y left center;
}

#footer-widgets .widget:first-child {
	padding-left: 0;
	background: none;
}

#footer-widgets h1 {
	font-family: "Droid Sans", Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
	margin:0;
	padding-bottom: 29px;
}

#footer-widgets p {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #a3a9b2;
	line-height: 18px;
}

#footer-widgets .widget a:link, a:visited {
	color: #fff;
	text-decoration: none;
}

#footer-widgets .widget #tweet ul li {
	background: url(images/twitter-bird.png) no-repeat top left;
	text-indent: 32px;
	margin-bottom: 16px;
}

#footer-widgets .widget span#phone {
	position: relative;
	display: block;
	line-height: 18px;
	background: url(images/phone.png) no-repeat center left;
	padding-left: 42px;
	margin-top: 25px;
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #a3a9b2;
}

#footer-widgets .widget span#address {
	position: relative;
	display: block;
	line-height: 18px;
	background: url(images/marker.png) no-repeat 7px;
 	padding-left: 42px;
 	margin-top: 25px;
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #a3a9b2;
}

#footer-widgets .widget a.facebook {
	position: absolute;
	right: 0;
	top: 0;
	background: url(images/facebook.png) no-repeat;
	display: block;
	width: 41px;
	height: 40px;
}

#footer-widgets .widget a.twitter {
	position: absolute;
	right: 0;
	top: 0;
	background: url(images/twitter.png) no-repeat;
	display: block;
	width: 41px;
	height: 40px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		404 PAGE, TABS, TOGGLES.
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#not-found {
	width: 380px;
	margin: 100px auto;
}

#not-found span#four {
	font-family: "BebasNeue", Arial, Helvetica, sans-serif;
	font-size: 130px;
	color: #48c3d2;
	width: 380px;
	text-align: center;
	display: block;
}

#not-found span#found {
	font-family: "BebasNeue", Arial, Helvetica, sans-serif;
	font-size: 72px;
	color: #36414c;
	display: block;
	width: 380px;
	text-align: center;
}

ul.tabs li {
	float: left;
}

ul.tabs li:first-child {
	border-left: 1px solid #56606b;
}

ul.tabs li a:link {
	text-decoration: none;
	color: #36414c;
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	border: 1px solid #56606b;
	border-left: 0;
	border-bottom: 0;
	padding: 10px 20px;
}

ul.tabs li a:link.current {
	background: #1f262d;
	color: #fff;
	-moz-box-shadow: inset 0 0 9px 9px #1f262d;
    -webkit-box-shadow: inset 0 0 9px 9px#1f262d;
    box-shadow: inset 0 0 9px 9px #1f262d;
}

.panes {
	border: 1px solid #56606b;
	padding: 10px;
	overflow: hidden;
}

.panes div {
	overflow: hidden;
}

 .panes .pane-content p {
	margin: 0 !important;
}

.panes img {
	float: left;
	margin-right: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
/*		FOOTER NAVIGATION AND COPYRIGHT
/*
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#footer-background {
	font-family:"Droid Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #a3a9b2;
}

#footer-background #footer-navigation {
	width: 960px;
	margin: 0 auto;
}

#footer-background #footer-navigation ul {
	float: left;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
}

#footer-background #footer-navigation ul li {
	display: inline;
	margin-right: 21px;
}

#footer-background #footer-navigation a:link, a:visited {
	color: #a3a9b2;
	text-decoration: none;
}

#footer-background #footer-navigation a:hover, a:active, a.active {
	color: #fff;
}
 
 
 #footer-background #footer-navigation #copyright {
	 float: right;
	 height: 80px;
	 line-height: 80px;
	 vertical-align: middle;
 }

.clear { clear: both; }

.wrap{
    width:274px;
    height:154px;
    margin:0px;
    overflow:hidden;
    position:relative;
}

.wrap img  {
    border: none;
	padding: 0;
	background: none;
    position:absolute;   
    top:-66.5px;
    left:-150px;
    height:290px;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}