<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>捐赠成功页面</title>
    <link rel="stylesheet" href="../css/normalize.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <script src="../js/index.js"></script>

  </head>
  <body>
    <div class="page">
    
      <div class="group">
        <img
          class="iconLeft"
          src="../images/img/images/img_4.png"
        /><span class="card">我的捐赠</span>
      </div>
      <div class="list1V2">
        <div class="block">
          <div class="container1">
            <div class="wrapper">
         
            </div>
         
          </div>
        </div>
        <div class="block1">
          <div class="containerItem0Common containerItem0">
            <div class="wrapper1">
              <div class="group2">
                <img
                  class="thumbnail"
                  src="../images/img/images/img_6.png"
                />
                <div class="view">
                  <span class="masterCard">灯火入眉</span><span class="info1">2022年3月20日</span>
                </div>
              </div>
              <img
                class="iconCircle"
                src="../images/img/images/img_7.png"
              />
            </div>
          </div>
          <div class="containerItem0Common containerItem1">
            <div class="wrapper2">
              <div class="group3">
                <img
                  class="iconNews"
                  src="../images/img/images/img_8.png"
                />
                <div class="view1">
                  <span class="americanExpress">American Express</span
                  ><span class="info2">xxxx - xxxx - xxxx - 1765</span>
                </div>
              </div>
              <img
                class="iconCircle1"
                src="../images/img/images/img_9.png"
              />
            </div>
          </div>
        </div>
        <div class="primary1">
          <div class="container2">

            <div class="wrapper3">
              <img
                class="media"
                src="../images/img/images/img_10.png"
              />
              <div class="group4">
                <span class="masterCard">灯火入眉</span><span class="info1">2022年3月20日</span>
              </div>
            </div>
            <img
              class="iconCircle2"
              src="../images/img/images/img_11.png"
            />
          </div>
          <div class="container3">
            <img
              class="iconLocate"
              src="../images/img/images/img_12.png"
            /><img
              class="picture"
              src="../images/img/images/img_13.png"
            /><span class="info4">感谢您的捐助！</span>
            <div class="makeDonationWrapper" ><span  class="makeDonation"><a href="../views/table.html"> 查看您的捐赠记录</span></a> </div>      
          </div>

        </div>
      </div>

      <div class="payNowWrapper" style="margin-top: 731px;    margin-left: 44px;"><a href="../views/table.html"><span class="payNow">确认</span></a></div>
    </div>
  </body>
</html>
