<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>我的捐赠</title>
    <link rel="stylesheet" href="../static/asset1/asset1/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../static/asset1/asset1/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/asset1/asset1/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/asset1/asset1/fonts/fontawesome5-overrides.min.css">
    <script type="text/javascript" src="../static/js/js/jquery.js"></script>
    <style type="text/css">
     

   #a li{
list-style: none;
   }
    </style>

</head>

<body id="page-top">
    
         
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>链上公益</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link " href="/index"><i class="fas fa-tachometer-alt"></i><span>首页</span></a></li>
                    <li class="nav-item"><a class="nav-link " href="/b"><i class="fas fa-user"></i><span>个人</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/c"><i class="fas fa-table"></i><span>捐赠</span></a></li>
                   
                    <li class="nav-item"><a class="nav-link " href="/f"><i class="fas fa-table"></i><span>收藏</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/e"><i class="fas fa-table"></i><span>项目分类</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user-circle"></i><span>登录</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-user-circle"></i><span>注册</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="搜索你想要的 ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="搜索你想要的 ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                           
                           
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">
                    
                        </h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">已捐助</p>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-6 text-nowrap"  >
                                    <!-- <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">&nbsp;<select class="d-inline-block form-select form-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label></div>
                                </div> -->
                                <div class="col-md-6 ">
                                    <!-- <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="搜索"></label></div> -->
                                </div>
                            </div>

                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            
                                            <th>捐助项目</th>
                                            <td><strong>日期</strong></td>
                                            <th>金额</th>                                          
                                            <th>简介</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody class="Add">
                                       
                                        <!-- <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../static/asset1/asset1/img/avatars/avatar4.jpeg">爱心午餐4</td>
                                        
                                            <td>2012/03/29<br></td>
                                            <td>$132,000</td>
                                            <td>   <a href="../views/success.html"> <button class="btn btn-primary py-0" type="button" >详情</button></a></td>
                                        </tr> -->
                                        
                                        
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>捐助项目</th>
                                            <td><strong>日期</strong></td>
                                            <th>金额</th>
                                        </tr>
                                    </tfoot> -->
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">详情页</p>
                                </div>
                                <div class="col-md-6">
                                    <!-- <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav> -->
                                </div>                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>灯火入眉</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script>
var initiator="0xE13BE5b9d25f42fC0a9f391d58962cB947F27A81";
$.ajax({
    url:"http://localhost:8080/dai/getallContribute",
    type:"post",
    dataType:"json",
    data:{initiator:initiator},
    success:function (data){
// console.log(document.getElementsByClassName("row")[2].innerHTML)

   
        console.log(data.data)

        for(var i=0;i<data.data.length;i++){
    
            let inserString =
                `
                
                             
                <tr>
                                            <td>
                                                <img class="rounded-circle me-2" width="30" height="30" src="../static/asset1/asset1/img/avatars/avatar4.jpeg">
                                                ${data.data[i].Title}</td>
                                        
                                            <td>2022/06/09<br></td>
                                            <td class="amount">${data.data[i].Amount}</td>
                                            
                                            <td>   <a href="/d?${data.data[i].Id}" style="text-decoration: none;">${data.data[i].Info}</a></td>
                                            
                                        </tr>
                             `


            let inserStrings = decodeURIComponent(inserString);
            $.ajax({
                url: 'http://localhost:8080/c',
                type: 'get',
                datatype: 'json',
                success: function(res) {
                    $(".Add").html(inserStrings+ document.getElementsByClassName("Add")[0].innerHTML)
                }
            })

    
}

    },
    error:function (data){
        console.log(data)

    }})

    $.ajax({
    url:"http://localhost:8080/dai/getOneFamout",
    type:"post",
    dataType:"json",
    data:{initiator:initiator,id:2},
    success:function (data1){
console.log(data1.data)
$(".amount").html(data1.data.Amount);

    }})



        function a(){
   
            var a=document.getElementById("a");
            if(a.style.display="none"){
                a.style.display="block"
                // alert("显示")
            
            }
          
        }
    </script>
    <script src="../static/asset1/asset1/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/asset1/asset1/js/bs-init.js"></script>
    <script src="../static/asset1/asset1/js/theme.js"></script>
</body>

</html>

